<a href="https://colab.research.google.com/github/zoom0607/JAVA_2023/blob/master/%EB%A7%88%EC%9D%B4%ED%81%AC%EB%A1%9C%ED%94%84%EB%A1%9C%EC%84%B8%EC%84%9C_%EC%84%B1%EC%97%B0%EC%9A%B0_20409_0816.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

변수와 자료형                

예제1) 변수 a에 숫자 2를 할당하고, 출력

In [ ]:
a = 2
print(a)
#파이썬의 출력 print(변수), print("텍스트")

2

예제2) 변수 b에 문자 "micro"를 할당하고,출력

In [ ]:
b = "micro" #텍스트 할당  시 따옴표
print(b)

micro

In [ ]:
#변수 이름으로 사용 불가능한 예약어들
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

데이터의 유형, 자료형       
예제3 : 변수 a에 문자 "pro"를 할당하고, 자료형 출력

In [ ]:
a = 'pro'
print(type(a))

<class 'str'>

예제4 : 변수 b에 숫자 24를 할당하고, 자료형 출력

In [ ]:
b = 24
print(type(b))

<class 'int'>

예제5 : 리스트 변수 만들어보기

In [ ]:
import random

dice = [1,2,3,4,5,6]
print(dice)
#파이썬 주사위 예제
print(random.choice(dice))

[1, 2, 3, 4, 5, 6]
5

예제6 : 튜플변수를 이용한 동전(앞면, 뒷면) 던지기

In [ ]:
import random
coin = ("앞면","뒷면")
print(random.choice(coin))

뒷면

if문과 반복문        
예제7 : 주사위 랜덤으로 3이 나오면 '당첨', 아니면 '꽝' 출력

In [ ]:
import random

masterDice = [1,2,3,4,5,6]

choice = random.choice(masterDice)

if choice == 3:
  print("당첨")
else :
  print("꽝")

당첨

예제8 : coin 리스트에서 랜덤으로 하나를 뽑아 '앞면'을 뽑으면 '앞면입니다.', '뒷면'이면 '뒷면입니다.'가 출력되도록 만들기

In [ ]:
import random
coin = ("앞면","뒷면")
coinresult = random.choice(coin)

if coinresult == "앞면":
  print("앞면입니다.")
else :
  print("뒷면입니다.")

뒷면입니다.

예제9 : table 리스트에 1부터 6까지 할당하고, 이중 랜덤으로 나온 숫자를 변수 "a"에 담는다. 변수 a에 담긴 숫자에 따라 "n번 테이블로 이동합니다."를 출력하도록 제어문 만들기

In [ ]:
import random
table = [1,2,3,4,5,6]
a = random.choice(table)
if a == 1:
  print("1번 테이블로 이동합니다.")
elif a == 2:
  print("2번 테이블로 이동합니다.")
elif a == 3:
  print("3번 테이블로 이동합니다.")
elif a == 4:
  print("4번 테이블로 이동합니다.")
elif a == 5:
  print("5번 테이블로 이동합니다.")
elif a == 6:
  print("6번 테이블로 이동합니다.")

3번 테이블로 이동합니다.

예제10 : 주사위를 던져 눈이 짝수가 나오면 "짝수 입니다.", 홀수가 나오면 "홀수 입니다."가 출력되도록 만들기

In [ ]:
import random

dice = [1,2,3,4,5,6]

diceresult = random.choice(dice)

if diceresult in [1,3,5]:
  print("홀수입니다.")
elif diceresult in [2,4,6]:
  print("짝수입니다.")

홀수입니다.

파이썬의 반복문

예제11 : 동전10번 던지기

In [ ]:
import random
coin = ['앞면','뒷면']
for i in range(10):
  a = random.choice(coin)
  print(a)

앞면
앞면
앞면
뒷면
뒷면
뒷면
뒷면
앞면
앞면
앞면

예제12 : 예제 11에서 던진 횟수 중 '앞면'이 몇 번 나왔는지 출력

In [ ]:
import random
coin = ['앞면','뒷면']
cnt = 0
for i in range(10):
  a = random.choice(coin)
  print(a)
  if a == "앞면":
   cnt+=1
print("동전을 던져 앞면이 나온 횟수 : ",cnt)

앞면
뒷면
앞면
뒷면
앞면
뒷면
뒷면
뒷면
앞면
뒷면
동전을 던져 앞면이 나온 횟수 :  4

예제13 : 주사위를 10만 번 던져 주사위의 각 숫자가 나올 확률을 구하시오

In [ ]:
import random

dice = [1,2,3,4,5,6]

cnt1,cnt2,cnt3,cnt4,cnt5,cnt6 =0,0,0,0,0,0

for i in range(100000):
  a = random.choice(dice)
  if a == 1:
    cnt1+=1
  elif a == 2:
    cnt2+=1
  elif a == 3:
    cnt3+=1
  elif a == 4:
    cnt4+=1
  elif a == 5:
    cnt5+=1
  elif a == 6:
    cnt6+=1
print("주사위 눈 1이 나올 확률 : ",cnt1/1000,"%")
print("주사위 눈 2이 나올 확률 : ",cnt2/1000,"%")
print("주사위 눈 3이 나올 확률 : ",cnt3/1000,"%")
print("주사위 눈 4이 나올 확률 : ",cnt4/1000,"%")
print("주사위 눈 5이 나올 확률 : ",cnt5/1000,"%")
print("주사위 눈 6이 나올 확률 : ",cnt6/1000,"%")

주사위 눈 1이 나올 확률 :  16.411 %
주사위 눈 2이 나올 확률 :  16.753 %
주사위 눈 3이 나올 확률 :  16.656 %
주사위 눈 4이 나올 확률 :  16.734 %
주사위 눈 5이 나올 확률 :  16.611 %
주사위 눈 6이 나올 확률 :  16.835 %

예제14 : 1~10중 5,9는 건너뛰기

In [ ]:
for i in range(1,11):
  if i in (5,9):
    continue
  print(i,"는 청소하기")

1 는 청소하기
2 는 청소하기
3 는 청소하기
4 는 청소하기
6 는 청소하기
7 는 청소하기
8 는 청소하기
10 는 청소하기

예제15 : 동전을 5번 던지되 앞면이 나오면 중단하기

In [ ]:
import random

coin = ("앞면","뒷면")
for i in range(5):
  cr = random.choice(coin)
  print(cr)
  if cr == "앞면":
    print("중지되었습니다.")
    break

뒷면
뒷면
뒷면
앞면
중지되었습니다.

예제16 : 숫자를 2개를 입력받아 두 숫자의 최대공약수를 출력

In [ ]:
fn = int(input("숫자를 입력해주세요 : "))
sn = int(input("숫자를 입력해주세요 : "))
for i in range(min(fn,sn),0,-1):
  if fn % i == 0 and sn % i == 0:
    break
print("최대공약수는 ",i,"입니다.")

숫자를 입력해주세요 : 20
숫자를 입력해주세요 : 30
최대공약수는  10 입니다.

예제17 : 구구단으로 반복문 만들기

In [ ]:
for i in range(1,10):
  print("2 X",i,"=",2*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

예제18 : 구구단을 이중 반복문으로 구현하기

In [ ]:
for i in range(1,10):
  for j in range(1,10):
    print(i,"X",j,"=",i*j)

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

예제18-1 : 구구단 2단을 while문으로 구현해보기

In [ ]:
a = 1
while a < 10:
  print("2 X",a,2*a)
  a+=1

2 X 1 2
2 X 2 4
2 X 3 6
2 X 4 8
2 X 5 10
2 X 6 12
2 X 7 14
2 X 8 16
2 X 9 18

예제19-1 : 구구단을 while문으로 구현하여 출력하기

In [ ]:
a = 1

while a < 10:
  b=1

  while b < 10:
    print(a,"X",b,"=",a*b)
    b+=1
  a+=1

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

예제19 : 띄어쓰기 없는 문자열 슬라이싱

In [ ]:
a = '서울로봇고등학교'
print(a)
print(a[2:4])
print(a[0:2])
print(a[4:8])

서울로봇고등학교
로봇
서울
고등학교

예제20 : 띄어쓰기, 기호가 있는 문자열에서 "딱 하나" 슬라이싱

In [ ]:
a = '한가지만 한다.딱 하나'

print(a[8:])
print(a[-4:])

딱 하나
딱 하나

예제21

In [ ]:
a = '기상 후 1시간을 얼마나 의미 있게 보내느냐에 따라 그날 하루가 결정됩니다.'

print(a.find("의미"))
print(a.index("의미"))
print(a.count("의미"))
print(a.find("습관"))

14
14
1
-1

예제22 : 대소문자 구별없이 "future"가 몇 번 나오는지 출력하기

In [ ]:
a = ['Future','fUture','today','fuTure','futuRe']
cnt = 0
for j in a:
  if j.lower() == "future":
    cnt+=1
print("future :",cnt)

future : 4

예제23 : 스티브 잡스 연설문에서 'today' 횟수 출력

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [13]:
jobs = open("/content/gdrive/MyDrive/Colab Notebooks/jobs.txt")
data = jobs.read()
data2 = data.split()
cnt = 0
for j in data2:
  if j.lower() == 'today':
    cnt+=1
print(cnt)

3